#Matrices

In [7]:
import numpy as np

In [6]:
np.random.seed(1)

np.random.randint(1,21, size=15)

array([ 6, 12, 13,  9, 10, 12,  6, 16,  1, 17,  2, 13,  8, 14,  7])

In [38]:
#Crea una lista que arroja 40 números del cual elige solo los pares
L=[i for i in np.random.randint(1,21, size=40) if i%2==0]
#Acomoda los números de menor a mayor
L.sort()
L

[2,
 4,
 4,
 6,
 6,
 8,
 8,
 10,
 12,
 12,
 14,
 14,
 14,
 14,
 14,
 14,
 16,
 16,
 18,
 18,
 18,
 18,
 20]

In [ ]:
l.

In [44]:
#Muestra un número de la lista de acuerdo al número ingresado
L.pop(1)

4

In [54]:
#Agrega un elemento a la lista
L+[4]

[2, 6, 6, 12, 14, 14, 14, 14, 14, 14, 16, 16, 18, 18, 18, 18, 20, 4]

In [60]:
#Elimina unelemento de la lista
L.remove(2)
L

[6, 6, 12, 14, 14, 14, 14, 14, 14, 16, 16, 18, 18, 18, 18, 20]

In [61]:
#Transforma la lista en un vector
L_arreglo = np.array(L)
L_arreglo

array([ 6,  6, 12, 14, 14, 14, 14, 14, 14, 16, 16, 18, 18, 18, 18, 20])

In [62]:
#Muestra la cantidad de números que tiene la lista
len(L_arreglo)

16

In [65]:
#Convierte la matriz en diferentes dimensiones
L_arreglo.reshape(4,4)

array([[ 6,  6, 12, 14],
       [14, 14, 14, 14],
       [14, 16, 16, 18],
       [18, 18, 18, 20]])

In [69]:
M_matriz = np.array([2, 3, 14, 15, 8, 7, 20, 22, 69]).reshape(3,3)

In [70]:
L_matriz = np.array([1, 2, 17, 18, 23, 7, 20, 25, 9]).reshape(3,3)

In [73]:
#Multiplica matrices
N = L_matriz @ M_matriz
N

array([[ 372,  393, 1201],
       [ 521,  392,  896],
       [ 595,  458, 1076]])

In [74]:
#Convierte en determinante
np.linalg.det(N)

-89362.00000000639